<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container"></body>
</br>
</br>
</br>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

</head>
<body>

<form th:object="${book}" method="post">

        <table class="table">
            <tr>
                <th> Title</th>
                <th> Author</th>
                <th> Genre</th>
                <th> Read?</th>
                <th> Rating</th>
            </tr>

            <tr>
                <td> <input type= "text" th:field="*{titlebook}" required/></td>
                <td> <input type= "text" th:field="*{author}" required/></td>
                <td>
                    <select th:field="*{genre}"required>
                    <option value="fiction">Fiction</option>
                    <option value="nonfiction">Non-Fiction</option>
                    <option value="mystery">Mystery</option>
                    <option value="biography">Biography</option>
                    </br>
                    <input type= "text" placeholder="Write Genre not listed here."/>
                    </select>
                </td>
                <td>
                    <select th:field="*{read1}" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    </select>
                </td>
                <td><!--If read rating required--->
                    <select th:field="*{rating}">
                    <option value="1star">*</option>
                    <option value="2stars">* *</option>
                    <option value="3stars">* * *</option>
                    <option value="4stars">* * * *</option>
                    <option value="5stars">* * * * *</option>
                    </select>
                </td>
            </tr>
        </table>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
</body>
</html>